// GOV.UK Frontend components
$_font-family: system-ui, sans-serif;
$_accent_colour: #333333;
$_accent_colour_hover: #111111;
$_accent_colour_visited: #555555;

@use "pkg:govuk-frontend/dist/govuk" with (
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: $_accent_colour,
  $govuk-link-colour: $_accent_colour,
  $govuk-link-hover-colour: $_accent_colour_hover,
  $govuk-link-visited-colour: $_accent_colour_visited
);

// Use GOV.UK Eleventy Plugin
@use "pkg:@x-govuk/govuk-eleventy-plugin";

.govuk-pagination__item--current {
  background-color: $_accent_colour;
}

.app-document-list__item {
  border-top-style: dashed;
  border-top-width: 2px;
}

.app-header__logotype {
  font-weight: bold;
}
